name: Build and deploy to production

on: 
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        python-version: ['3.7']

    steps:
    - name: Checkout GitHub Actions
      uses: actions/checkout@master

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install tox tox-gh-actions

    - name: Test with tox
      run: |
        tox

    - name: Login via Azure CLI
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Login to Azure Container Registry
      uses: azure/docker-login@v1
      with:
        login-server: mlappcd.azurecr.io
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}
     
    - name: Build and push container image to registry 
      run: |
        docker build . -t mlappcd.azurecr.io/mlapp-cd:${{ github.sha }}
        docker push mlappcd.azurecr.io/mlapp-cd:${{ github.sha }}
        
    - name: Deploy to App Service
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'mlapp-cd'
        images: 'mlappcd.azurecr.io/mlapp-cd:${{ github.sha }}'

    - name: Azure logout
      run: |
        az logout